<ng-template [ngIf]="(this.$isLoggedIn | async) ">
		<button nbButton class="userButton" >{{ (this.$user | async)?.name }}</button>
		<a routerLink="/auth/logout"><button nbButton outline status="primary" shape="round" size="small" status="danger" nbTooltip="{{'Log Out' | translate}}"><nb-icon icon="log-out-outline"></nb-icon></button></a>
</ng-template>
<ng-template [ngIf]="!(this.$isLoggedIn | async) ">
	<a routerLink="/auth/login"><button nbButton hero status="primary">{{ 'Log In' | translate }}</button></a>
	<a routerLink="/auth/register"><button nbButton hero status="info">{{ 'Register' | translate }}</button></a>
</ng-template>
