<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script>
		const ROOM_ID = "<%= roomId %>";
	</script>
	<!--<script src="script.js?ver=3asdawwa21asdadwdwewwwdwdwsdasd31" defer></script>-->
	<link rel="stylesheet" href="dist/shutter/styles.css"></head>
	<title>Document</title>
	<base href="https://dev.local:4430/" target="_blank">
</head>
<body>
	<app-root></app-root>
	<script src="dist/shutter/runtime.js" defer></script><script src="dist/shutter/polyfills.js" defer></script><script src="dist/shutter/vendor.js" defer></script><script src="dist/shutter/main.js" defer></script></body>
	<script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
</body>
</html>