<div class="row">
<div class="meta">
<h1>{{'Welcome to this Shutter room!' | translate}}</h1>
<p>{{'Please fill in your name in order to enter the room.' | translate}}</p>
<input type="text" nbInput [(ngModel)]="inputNameText" placeholder="{{'Your nickname' | translate}}" />
</div>
<div class="inputs">
<nb-icon icon="video-outline"></nb-icon>
<nb-toggle status="basic" [disabled]="!this.videoAllowed" [(checked)]="this.videoEnabled" (checkedChange)="this.changeVideoEnabledStatus($event)">{{'Video input' | translate}}</nb-toggle>
<!--<nb-icon *ngIf="this.videoAllowed" icon="checkmark-circle-2-outline" status="success" nbTooltip="Access granted to use webcam." nbTooltipStatus="basic"></nb-icon>
<nb-icon *ngIf="!this.videoAllowed" (click)="this._localInputProviderService.requestPermissions('video')" icon="close-circle-outline" status="danger" nbTooltip="No access to your webcam." nbTooltipStatus="danger" style="cursor: pointer"></nb-icon>-->
<div class="input-container-video">
	<nb-select placeholder="Select webcam" [(selected)]="selectedVideoDevice" [disabled]="!this.videoAllowed || !this.videoEnabled">
		<nb-option *ngFor="let device of (this.videoDeviceList | async); let i = index" value="{{ device.deviceId }}" (click)="this.changeVideoInputDevice(device.deviceId)" >
			<ng-container *ngIf="device.label">{{ device.label }}</ng-container>
			<ng-container *ngIf="!device.label">{{ i+1 }}. {{ "webcam" | translate }}</ng-container>
		</nb-option>
		</nb-select>
		<div class="videoContainer">
		<nb-icon *ngIf="!(this.videoAllowed && this.videoEnabled)" icon="video-outline"></nb-icon>
		<video *ngIf="this.videoAllowed && this.videoEnabled" #video style="width: 100%; object-fit: cover; border-radius: 3px"></video>
		</div>
</div>
<nb-icon icon="mic-outline"></nb-icon>
<nb-toggle status="basic" [disabled]="!this.audioAllowed" [(checked)]="this.audioEnabled" (checkedChange)="this.changeAudioEnabledStatus($event)">{{'Audio input' | translate}}</nb-toggle>
<!--<nb-icon *ngIf="this.audioAllowed" icon="checkmark-circle-2-outline" status="success" nbTooltip="Access granted to use your mic." nbTooltipStatus="basic"></nb-icon>
<nb-icon *ngIf="!this.audioAllowed" (click)="this._localInputProviderService.requestPermissions('audio')" icon="close-circle-outline" status="danger" nbTooltip="No access to your microphone." nbTooltipStatus="danger" style="cursor: pointer"></nb-icon>-->

<div class="input-container-audio">
	<nb-select placeholder="Select input device" [(selected)]="selectedAudioDevice" [disabled]="!this.audioAllowed || !this.audioEnabled">
		<nb-option *ngFor="let device of (this.audioDeviceList | async); let i = index" value="{{ device.deviceId }}" (click)="this.changeAudioInputDevice(device.deviceId)" >
			<ng-container *ngIf="device.label">{{ device.label }}</ng-container>
			<ng-container *ngIf="!device.label">{{ i+1 }}. {{ "microphone" | translate }}</ng-container>
		</nb-option>
		</nb-select>
	<div class="meter-wrapper">
		<div class="audio-level-pass-meter">
			{{'GOOD LEVEL' | translate}}
		</div>
		<div class="meter-container">
			<div class="meter-pass-point"></div>
			<div class="input-meter" [style.width.%]="selectedAudioDeviceLevel" style="background: white; height: 20px; width: 0px; border-radius: 3px; transition: .2s; opacity: .7; margin-top: 20px">
		</div>
	</div>

	</div>
</div>
</div>
</div>
<div class="row join-button-container">
	<nb-alert status="danger" *ngIf="devicesReceived && ((!videoAllowed && !audioAllowed) || (!selectedAudioDevice && !selectedVideoDevice))">
		{{ 'WARN_ONLY_SPECTATOR' | translate }}
	</nb-alert>
	<button class="join-button" nbButton (click)="this.saveName()" [disabled]="this.inputNameText.length < 3 || !devicesReceived">{{'Join Room' | translate}}</button>
</div>