<video #video
	[ngStyle]="this.videoSizing === 'contain' && {'object-fit': 'contain'}"
	[ngClass]="{'video-off': this.user?.status?.isVideoOff, 'smallThumbnail': smallThumbnail }"
	></video>
<div class="novideo" [ngStyle]="(!this.user?.status?.isVideoOff) && {'display': 'none'}">
	<span class="name">{{this.user?.name}}</span>
</div>
<button class="moreButton" *ngIf="!onlyVideo" [nbContextMenu]="this.contextMenuItems" nbContextMenuTag="videoframe-{{ this.user.clientId }}">
	<fa-icon [icon]="faEllipsisH"></fa-icon>
</button>

<div class="nameWrapper" *ngIf="!onlyVideo" [ngStyle]="this.user?.status?.isVideoOff && {'display': 'none'}"><div class="nameContainer">{{this.user?.name}}<span *ngIf="this.user?.isMe"> {{'(you)' | translate}}</span></div></div>
<div class="statusIcons">
	<fa-icon *ngIf="this.user?.status?.isMuted" [icon]="faMicrophoneSlash" nbTooltip="{{ 'User muted themselves' | translate }}" nbTooltipStatus="basic" nbTooltipPlacement="top" status="basic" class="muted-icon"></fa-icon>
	<fa-icon *ngIf="this.user?.locallyMuted" [icon]="faUserSlash" class="muted-icon" nbTooltip="{{ 'User is locally muted.' | translate }}" nbTooltipStatus="basic" nbTooltipPlacement="top" status="basic"></fa-icon>
</div>