<div *ngIf="!this.isUserInitialized">
    <app-welcome-dialog (enteredName)="setMyName($event)" (deviceConfig)="connectToRoom($event)">

    </app-welcome-dialog>
</div>
<div class="room-container" *ngIf="this.isUserInitialized">
    <div *ngIf="this.view == 'gallery'"class="videoGridContainer">
        <div #videoGrid class="videoGrid">
            <div #videoFrame *ngFor="let u of users | keyvalue" @fadeIn class="videoContainer" [class.speaking]="u.value?.status?.isSpeaking">

                <app-videoelement style="object-fit: cover;
                overflow: hidden;
                border-radius: 3px" *ngIf="u.value?.mediaStreamProvider?.stream != null && u.value?.mediaStreamProvider?.stream != undefined" [user]=u.value></app-videoelement>
            </div>
        </div>
    </div>
    <div *ngIf="this.view == 'spotlight'"class="videoGridContainer">
        spotlight
    </div>
    <div class="meetingControlsContainer">
    <button nbButton aria-label="Unmute microphone" *ngIf="this.isMyAudioMuted() == true" (click)="this.unMuteMyAudio()"><fa-icon [icon]="faMicrophoneSlash"></fa-icon></button>
    <button nbButton aria-label="Mute microphone" status="danger" *ngIf="this.isMyAudioMuted() == false" (click)="this.muteMyAudio()"><fa-icon [icon]="faMicrophone"></fa-icon></button>

    <button [hidden]="!this.isMyWebcamOn()" (click)="this.turnOnMyWebcam()">Turn Camera On</button>
    <button [hidden]="this.isMyWebcamOn()" (click)="this.turnOffMyWebcam()">Turn Camera off</button>
    <button (click)="this.testAddVideoBox()">Add</button>
    <button (click)="this.testResize()">resize</button>
    </div>
    <div class="sidebar">
        <div class="sidebar-item view-container">
            <app-view-selector [view]="view" (viewChanged)="this.viewChange($event)"></app-view-selector>
        </div>
        <div class="sidebar-item user-list-container">
            <app-user-list></app-user-list>
        </div>
        <div class="sidebar-item chat-container">
            <app-chat-display></app-chat-display>
        </div>
    </div>
</div>