<div *ngIf="this.currentState == 'welcome'">
    <app-welcome-dialog (enteredName)="setMyName($event)" (deviceConfig)="finalizeConfiguration($event)">
    </app-welcome-dialog>
</div>
<div *ngIf="this.currentState == 'connecting'">
    <app-connecting-dialog [reply$]="this.connectionReply" [askToPassword]="this.connect_ask_to_password" (passwordSubmitted)="connectWithPassword($event)"></app-connecting-dialog>
</div>
<div class="room-container" *ngIf="this.currentState == 'room'">
    
    <div class="main">
            <room-layout-gallery *ngIf="this.view == 'gallery'" [users]="this.users" [ngClass]="{'mobile-active': this.roomActiveContainer === 'room'}"></room-layout-gallery>
            <room-layout-spotlight *ngIf="this.view == 'spotlight'" [users]="this.users" [ngClass]="{'mobile-active': this.roomActiveContainer === 'room'}"></room-layout-spotlight>


            <div class="mobile-users" *ngIf="this.roomActiveContainer === 'users'" [ngClass]="{'mobile-active': this.roomActiveContainer === 'users'}">
                <div class="sidebar-item view-container">
                    <room-layout-selector [view]="view" (viewChanged)="this.viewChange($event)" style="margin-bottom: 10px"></room-layout-selector>
                    <div class="user-list-container">
                        <app-waiting-list></app-waiting-list>
                        <app-user-list></app-user-list>
                    </div>
                    <div class="sidebar-item view-container">
                    </div>
                </div>
            </div>
            <div class="mobile-chat user-list-container" *ngIf="this.roomActiveContainer === 'chat'" [ngClass]="{'mobile-active': this.roomActiveContainer === 'chat'}">
                <app-chat-display></app-chat-display>
            </div>

            <div class="meetingControlsContainer">
                <button nbButton class="firstbtn mobileViewChangeButton" attr.aria-label="{{ 'Room' | translate }}" nbTooltip="{{ 'Room' | translate }}" nbTooltipStatus="basic" (click)="this.changeActiveContainer('room')" [ngClass]="{'mobile-view-active': this.roomActiveContainer === 'room'}"><nb-icon icon="home-outline"></nb-icon></button>
                <button nbButton class="mobileViewChangeButton" attr.aria-label="{{ 'Users list' | translate }}" nbTooltip="{{ 'Users list' | translate }}" nbTooltipStatus="basic" (click)="this.changeActiveContainer('users')" [ngClass]="{'mobile-view-active': this.roomActiveContainer === 'users'}"><nb-icon icon="people-outline"></nb-icon ></button>
                <button nbButton class="lastbtn mobileViewChangeButton" attr.aria-label="{{ 'Chat' | translate }}" nbTooltip="{{ 'Chat' | translate }}" nbTooltipStatus="basic" (click)="this.changeActiveContainer('chat')" [ngClass]="{'mobile-view-active': this.roomActiveContainer === 'chat'}"><nb-icon icon="message-circle-outline"></nb-icon ></button>

                <button nbButton attr.aria-label="{{ 'Unmute microphone' | translate }}" nbTooltip="{{ 'Unmute microphone' | translate }}" status="danger" *ngIf="!isSpectator && this.micAvailable() && this.isMyAudioMuted() == true" (click)="this.unMuteMyAudio()"><fa-icon [icon]="faMicrophoneSlash"></fa-icon></button>
                <button nbButton attr.aria-label="{{ 'Mute microphone' | translate }}" nbTooltip="{{ 'Mute microphone' | translate }}" *ngIf="!isSpectator && this.micAvailable() && this.isMyAudioMuted() == false" (click)="this.muteMyAudio()"><fa-icon [icon]="faMicrophone"></fa-icon></button>
            
                <button nbButton attr.aria-label="{{ 'Turn camera on' | translate }}"  nbTooltip="{{ 'Turn camera on' | translate }}"  status="danger" *ngIf="!isSpectator && this.webcamAvailable() && !this.isMyWebcamOn()" (click)="this.turnOnMyWebcam()"><nb-icon icon="video-outline"></nb-icon></button>
                <button nbButton attr.aria-label="{{ 'Turn camera off' | translate }}"  nbTooltip="{{ 'Turn camera off' | translate }}" *ngIf="!isSpectator && this.webcamAvailable() && this.isMyWebcamOn()" (click)="this.turnOffMyWebcam()"><nb-icon icon="video-off-outline"></nb-icon></button>
            
                <button nbButton class="original" outline status="danger" (click)="this.leaveRoom()"><nb-icon icon="log-out-outline"></nb-icon><span class="leaveRoomText">{{ 'Leave Room' | translate }}</span></button>
                <!--<button (click)="this.testAddVideoBox()">Add</button>
                <button (click)="this.testResize()">resize</button>-->
            </div>
    </div>

    <div class="sidebar">
        <div class="sidebar-item view-container">
            <room-layout-selector [view]="view" (viewChanged)="this.viewChange($event)"></room-layout-selector>
        </div>
        <div class="sidebar-item user-list-container">
            <app-waiting-list></app-waiting-list>
            <app-user-list></app-user-list>
        </div>
        <div class="sidebar-item chat-container">
            <app-chat-display></app-chat-display>
        </div>
    </div>
</div>