<div *ngIf="this.currentState == 'welcome'">
    <app-welcome-dialog (enteredName)="setMyName($event)" (deviceConfig)="finalizeConfiguration($event)">
    </app-welcome-dialog>
</div>
<div *ngIf="this.currentState == 'connecting'">
    <app-connecting-dialog [reply$]="this.connectionReply" [askToPassword]="this.connect_ask_to_password" (passwordSubmitted)="connectWithPassword($event)"></app-connecting-dialog>
</div>
<div class="room-container" *ngIf="this.currentState == 'room'">
    <div style="width: 100%; height: 100%; position: relative">
            <room-layout-gallery *ngIf="this.view == 'gallery'" [users]="this.users"></room-layout-gallery>
        <div *ngIf="this.view == 'spotlight'">
            <room-layout-spotlight *ngIf="this.view == 'spotlight'" [users]="this.users"></room-layout-spotlight>
        </div>
    </div>
    <div class="meetingControlsContainer">
    <button nbButton aria-label="Unmute microphone" *ngIf="this.isMyAudioMuted() == true" (click)="this.unMuteMyAudio()"><fa-icon [icon]="faMicrophoneSlash"></fa-icon></button>
    <button nbButton aria-label="Mute microphone" status="danger" *ngIf="this.isMyAudioMuted() == false" (click)="this.muteMyAudio()"><fa-icon [icon]="faMicrophone"></fa-icon></button>

    <button [hidden]="!this.isMyWebcamOn()" (click)="this.turnOnMyWebcam()">Turn Camera On</button>
    <button [hidden]="this.isMyWebcamOn()" (click)="this.turnOffMyWebcam()">Turn Camera off</button>
    <!--<button (click)="this.testAddVideoBox()">Add</button>
    <button (click)="this.testResize()">resize</button>-->
    </div>
    <div class="sidebar">
        <div class="sidebar-item view-container">
            <room-layout-selector [view]="view" (viewChanged)="this.viewChange($event)"></room-layout-selector>
        </div>
        <div class="sidebar-item user-list-container">
            <app-waiting-list></app-waiting-list>
            <app-user-list></app-user-list>
        </div>
        <div class="sidebar-item chat-container">
            <app-chat-display></app-chat-display>
        </div>
    </div>
</div>