.room-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	height: 100%;
	width: 100%;
	position: relative;
	.main {
		width: 100%;
		height: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
	}
}
.sidebar {
	width: 300px;
	height: 100%;
	display: flex;
	flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: stretch;
	position: relative;
}
.sidebar-item {
	background: #222B45;
	margin-top: 5px;
	margin-bottom: 5px;
}
.user-list-container, .chat-container{
	min-height: calc(50% - 30px);
}

.meetingControlsContainer {
	z-index: 10;
	//position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	button:not(.original) {
		margin-left: 5px;
		margin-right: 5px;
		border-radius: 1000px;
		width: 50px;
		height: 50px;
		transition: .2s all;
		&:hover {
			transform: scale(1.1, 1.1);
		}
	}
}
.mobile-users, .mobile-chat{
	display: none;
}
.mobileViewChangeButton {
	display: none;
	margin: .5px !important;
	border-radius: 0px !important;
	transition: .2s all;
	outline: none;
	&:active {
		outline: none;
	}
	&:focus {
		box-shadow: inset 3px 3px 5px rgb(0 0 0 / 20%) !important;
	}
}
.mobileViewChangeButton.lastbtn {
	border-top-right-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
}
.mobileViewChangeButton.firstbtn {
	border-top-left-radius: 5px !important;
	border-bottom-left-radius: 5px !important;
}
.mobile-view-active {
	background-color: #3366FF !important;
	border-color: #3366FF !important;
	color: white !important;
	box-shadow: inset 3px 3px 5px rgb(0 0 0 / 20%) !important;
}
@media (max-width: 768px) {
	.mobileViewChangeButton {
		display: block;
	}
	room-layout-gallery, room-layout-spotlight  {
		display: none;
	}
	.main {
	  width: 100%;
	  display: none;
  }
  .sidebar {
	  display: none;
  }
  .mobile-active {
	  display: block !important;
  }
  .mobile-users, .mobile-chat {
	  height: 100%;
	  width: 100%;
	  max-width: 100%;
	  max-height: 100%;
  }
  .leaveRoomText {
	  display: none;
  }
}
