<div *ngIf="!allowedToEdit" style="display: flex; align-items: center; flex-direction: column;">
	<h1 style="text-align: center">{{ 'This room is not owned by you.' | translate }}</h1>
	<a routerLink="/auth/profile" style="text-decoration: none;"><button nbButton>View your rooms</button></a>
</div>

<h1 *ngIf="allowedToEdit && isNew">{{ 'Add room' | translate}}</h1>
<h1 *ngIf="allowedToEdit && !isNew">{{ 'Edit room' | translate}}</h1>

<form (ngSubmit)="save()" #form="ngForm" aria-labelledby="title" *ngIf="allowedToEdit">

<div class="form-control-group">
	<label class="label" for="input-name">{{ 'Room name' | translate }}:</label>
	<input nbInput
			fullWidth
			[(ngModel)]="room.name"
			#name="ngModel"
			name="name"
			id="input-name"
			[attr.placeholder]="'Desired name for the room' | translate"
			autofocus
			required>
</div>
<div class="form-control-group">
	<label class="label" for="input-name">{{ 'Authentication type' | translate }}:</label>
	<nb-radio-group [(ngModel)]="room.auth_type" #auth_type="ngModel" name="auth_type">
		<nb-radio
		  *ngFor="let option of this.authTypesList"
		  [value]="option">
		  {{ option | translate }}
		</nb-radio>
	  </nb-radio-group>
</div>
<div class="form-control-group" *ngIf="room.auth_type=='password'">
	<label class="label" for="input-password">{{ 'Password' | translate }}:</label>
	<input nbInput
			type="password"
			fullWidth
			[(ngModel)]="room.auth_password"
			#name="ngModel"
			name="password"
			id="input-password"
			[attr.placeholder]="'Password for the room' | translate"
			autofocus
			required>
</div>


<button nbButton
		fullWidth
		status="success"
		[disabled]="submitted"
		[class.btn-pulse]="submitted">
	{{ 'Save' | translate }}
</button>
</form>