<div class="chatboard">
	<div class="title">{{ 'Chat' | translate}}</div>
	<div class="messages" *ngIf="this.messages != null" >
		<div *ngFor="let msg of this.messages">
			{{msg.sender.name}}: {{msg.message}}
		</div>
	</div>
	<input class="message-input" type="text" [(ngModel)]="messageBoxText" (keydown.enter)="this.sendMessage();false" nbInput fullWidth placeholder="{{'Message' | translate}}" />
</div>
<!--<nb-chat title="Nebular Conversational UI" *ngIf="this.messages != null">
	<nb-chat-message  *ngFor="let msg of this.messages"
	[message]="msg.message"
	[sender]="msg.sender.name">
</nb-chat-message>
<nb-chat-form (send)="this.sendMessage()"  [dropFiles]="true">
</nb-chat-form>
</nb-chat>
-->